ANTHROPIC_API_KEY=발급받은 키

OPENAI_API_KEY=발급받은 키
OPENAI_MODEL=발급받은 키
OPENAI_EMBEDDING_MODEL=발급받은 키

KTO_API_KEY=발급받은 키

KAKAO_REST_API_KEY=발급받은 키

NAVER_CLIENT_ID=발급받은 키
NAVER_CLIENT_SECRET=발급받은 키

# LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=발급받은 키
LANGCHAIN_PROJECT=WorkationAgent
